* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block_ {
    font-family: 'Secular One', sans-serif;
    width: 150px;
    height: 150px;
    border: 1px solid #333;
    font-size: 36px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1 {
    background-color: blueviolet;
}

.block2 {
    background-color: gold;
}

.block3 {
    background-color: green;
}

.block4 {
    background-color: palevioletred;
}

.block5 {
    background-color: black;
}

.block6 {
    background-color: red;
}

.block7 {
    background-color: orange;
}

.block8 {
    background-color: gray;
}

.block9 {
    background-color: aqua;
}












/*
.bg {
    background: url(./files/говерла-гора.jpeg) top center no-repeat;
    height: 600px;
    background-size: cover;
}

.big-link {
    font-size: 36px;
    color: #000;
    margin: 20px;
    display: inline-block;

    text-decoration: underline;
}

p {
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline;
    font-size: 26px;
}*/